/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
div.container {
	width: 90%;
	margin: 0 auto;
}

header {
	margin: 15px auto;
	padding-bottom: 100px;
}

nav {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}

nav a {
	text-decoration: none;
    color: grey;
    margin: 0px 50px;
}

header img.logo {
	float: right;
}

section.section-cta div {
	width: 30%;
	display: inline-block;
	text-align: center;
	margin-left: 90px;
}

section div h1 {
	font-size: 115px
}

.section-cta img {
	display: inline-block;
	margin-left: 300px;
	margin-bottom: 10px;
}

button {
	width: 65%;
    border: 1px solid black;
    padding: 10px 0px;
    font-size: 20px;
}

.section-cta {
	/* border-bottom: 1px solid; */
	margin-bottom: 60px;
}

/* section.main-content div {
	width: 25%;
	display: inline-block;
	text-align: left;
	margin-left: 0;
} */

/* section.main-content h3, section p  {
	display: table-cell;
}

section p {
	display: table-row;
} */

section.main-content div {
	display: table-cell;
    padding: 50px 0px;
	padding-right: 100px;
}


section.main-content img {
	width: 100%;
}

footer {
	margin-top: 50px;
}

footer address a {
	display: block;
	padding-top: 15px;
}

footer p {
	text-align: center;
    padding: 100px;
}